# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# Common
target/
.DS_Store

# Misc
test.flv
test_enhanced.flv
src/test/java/co/casterlabs/flv4j/test/old
copy.flv
server.bin
client.bin
